.table-container {
    max-width: 1280px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 350px;
}

table {
    width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
    margin-bottom: 100px;
    table-layout: fixed;
}

th, td {
    border: 1.5px solid rgb(163, 161, 161);
    text-align: center;
    padding: 8px;
    color: grey;
    max-width: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

td:first-child, th:first-child {
    width: 30px;
}

tbody td {
    height: 100px;
}

.top-letter {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    align-items: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-letter h3 {
    color: rgb(194, 97, 97);
}

.plus-btn {
    right: 190px;
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    width: 42px;
    height: 38px;
    padding-bottom: 20px;
    margin-top: 50px;
    padding-top: 20px;
    padding-right: 6px;
}

.plus-btn p{
    position: absolute;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

.highlight {
    color: white;
}
